/* Global CSS */

*{
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button{
  cursor: pointer;
}


body{
  background-color: rgb(58, 56, 56);
  margin-top: .5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
  text-align: center;
}

/* Global CSS ENDS*/

.main{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 98%;
  border-radius: .4rem;
  box-shadow: 2px 2px 3px rgb(117, 117, 117);
  background-color: #fff2f2;
  margin-bottom: 1rem;
}

.welcome{
  padding: 6rem;
}


a{
  text-decoration: none;
}

.h1,.h2{
  font-size: 7rem;
  margin-bottom: 3rem;
  text-align: center;
}

.h1{
  animation: lFade 2s 1;
}

.h2{
  font-size: 6.5rem;
  
  font-weight: 800;
  background-clip: text;
  -webkit-background-clip: text;
  animation: appear 5s 1, color 4s infinite;
  
}

@keyframes lFade {
  0%{
    opacity: 0;
    transform: translateX(-40%);
  }
}
@keyframes appear {
  0%{
    opacity: 0;
    /* transform: translateX(-40%); */
  }
}

@keyframes color{
  0% {
    color: #ee6055;
  }
  25% {
    color: #60d394;
  }
  50% {
    color: #aaf683;
  }
  75% {
    color: #ffd97d;
  }
  100% {
    color: #ff9b85;
  }
}
/* Arrow Animation */

.arrow {
    
  transform: translate(-50%, -50%);
  transform: rotate(0deg);
  cursor: pointer;
  margin-top: 1.5rem;
}

.arrow span {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border-bottom: 5px solid rgb(0, 0, 0);
  border-right: 5px solid rgb(0, 0, 0);
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
  }
}



/* Arrow Animation Ends */


/* Comments Styles */
.comments{
  width: auto;
  height: auto;
  margin: 3rem 0 3rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 2rem;
}


.post-display,.comment-display{
  overflow-y: scroll;
  width: 30rem;
  height: 400px; 
  padding: 1.2rem;
  overscroll-behavior: contain;
}

.comment-display{
  margin-top: 1.25rem;
}
/* Comments Styles ENDS */


/* POST styles */
.post-display{
  display: grid;
  justify-content: center;
}

.post-display button{
  margin-top: .35rem;
  height: 12rem;
  min-width: 10rem;
  max-width: 25rem;
  border: 0px;
  background-color: #fff;
  border-radius: .5rem;
  transition: all .6s ease-in-out;
  box-shadow: 2px 2px 2px rgb(255, 84, 84);
}

.post-display button:hover{
  background-color: rgb(255, 72, 72);
  color: #fff;
  transform: translateX(2%);
  box-shadow: -3px 3px rgb(255, 206, 72);
}

.post-name{
  font-weight: 700;
  margin: .5rem 0 .5rem 0;
  font-size: 1rem;
  color: rgb(44, 44, 44);
}

.post-body{
  font-size: 1.2rem;
}
/* POST styles ENDS*/

/* COMMENT STYLE */
.comment-entry{
  border: 2px solid lime;
  background-color: #fff;
  padding: .3rem;
  border-radius: .5rem;
  margin-bottom: .35rem;
}
.comment-name{
  font-weight: 700;
  margin: .5rem 0 .5rem 0;
  font-size: .8rem;
  color: rgb(44, 44, 44);
}

.comment-email{
  margin-bottom: .25rem;

}
.comment-body{
  font-size: 1.2rem;
}

/* COMMENT STYLE  ENDS*/

.filter{
  display: flex;
  justify-content: center;
  margin: .5rem 0;
}

.filter *{
  margin-right: 1rem;
}

.filter input{
  text-align: center;
  font-size: 1.2rem;
  padding: .5rem;
  width: 3.75rem;
  border-radius: 1rem;
  border: 2px solid rgb(83, 83, 83);
}

.filter button{
  width: 4.5rem;
  border-radius: 1rem;
  box-shadow: 3px 3px #7F00FF	;
  transition: all .6s ease-in-out;
  color: white;
  background-color: #900C3F;
  font-size: 1rem;
}

.filter>button:hover{
  /* background-color: black; */
  width: 5rem;
  font-size: 1.25rem;
  box-shadow: -3px 3px #C3B1E1	;
}